@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');
* {
  box-sizing: border-box !important;
}

a:link, a:visited {
  color: goldenrod;
  text-decoration: none;
}
a:focus,a:hover {
  text-decoration: underline;
}
body {
  align-items: flex-end;
  display: flex;
  font-family: 'Noto Sans JP', Helvetica, Arial;
  font-weight: 100;
  font-size: 14pt;
  line-height: 1.75;
  flex-direction: column;
}
b,strong { font-weight: 400}
h1,h2,h3,h4,h5 { font-weight: 300;}
#logo {
  height: auto;
  width: 100%;
  margin: 0;
}
section {
  max-width: 800px;
  overflow: hidden;
  margin-bottom: 6rem;
  padding: 1rem;
  width: 100%;
}
.logo-wrapper {
  border: 2rem white solid;
  margin-bottom: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.logo-wrapper:first-of-type {
  margin-top: calc(90vh - 6rem);  
}

@media (min-width: 800px) {
  .logo-wrapper:first-of-type {
     margin-top: calc(100vh - (800px * 0.1366) - 5rem);  
  }
}
section.white {
   background-color: #fff; 
}
section.black {
   background-color: #111;
   color:#fdfdfd;
}
section.card-intro {
  font-size: 18pt;
  line-height: 1.75;
  padding: 0rem 3rem 5rem;
}
h1 {
  font-size: 2rem;
  padding: 2rem 0;
}
p {
  margin-bottom: 1rem; 
}
p + ul {
  margin-top: 0;
}
p + h3 {
  margin-top: 2rem;
}
.site-logo {
  height: auto;
}
.screenshot-container {
  text-align: center;
}
@media (min-width: 800px) {
  .screenshot-container {
    text-align: left;
  }
}
.site-screenshot {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.125);
  height: auto;
  margin: 1rem 0.5rem 1rem 0;
  max-width: 200px;
  min-width: 110px;
  vertical-align: top;
  width: calc(33% - 1.5rem);
}
.bordered {
  border: 1px #ccc solid;
  padding: 1rem 2rem 2rem;
}
form label {
  display: block;
}
button, input, textarea {
  border: 1px solid #999;
  display: block;
  margin: 0.25rem 0 0.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}
textarea {
  min-height: 6rem;
}
button {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  font-family: inherit;
  font-size: 1.25rem;
  margin: 2rem auto 1rem;
  padding: 1rem;
  max-width: 400px;
  cursor: pointer;
}
button:hover {
  background-color: #666;
}

.texture {
  background-image: url(texture5.png);
  background-repeat: repeat;
  background-size: 3vh;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform-origin: center;
  z-index: -1;
  -webkit-animation: ScaleAnimation 60s ease-in-out infinite;
  -moz-animation: ScaleAnimation 60s ease-in-out infinite;
  animation: ScaleAnimation 60s ease-in-out infinite;
}
.animated-gradient-background {
  background: linear-gradient(90deg, #f4a261ff, #e76f51ff, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff,  #264653ff, #2a9d8fff, #e9c46aff);
  background-size: 500% 1000%;
  -webkit-animation: GradientAnimation 45s linear infinite;
  -moz-animation: GradientAnimation 45s linear infinite;
  animation: GradientAnimation 45s linear infinite;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

@-webkit-keyframes ScaleAnimation {
  0%{transform: scale(2) rotate(108deg)}
  50%{transform: scale(4) rotate(176deg)}
  100%{transform: scale(2) rotate(108deg)}
}

@-moz-keyframes ScaleAnimation {
  0%{transform: scale(2) rotate(108deg)}
  50%{transform: scale(4) rotate(176deg)}
  100%{transform: scale(2) rotate(108deg)}
}


@keyframes ScaleAnimation {
  0%{transform: scale(2) rotate(108deg)}
  50%{transform: scale(4) rotate(176deg)}
  100%{transform: scale(2) rotate(108deg)}
}